<div class="row">
    <div ng-class="{'col-sm-0': !$ctrl.showSlider, 'col-sm-1': $ctrl.showSlider, 'hidden': !$ctrl.showSlider}" id="es-waterfall-slider-container">
        <div style="display: flex; flex-direction: row; height: 250px;">
            <rzslider rz-slider-model="$ctrl.colorProp" rz-slider-high="$ctrl.colorPropHigh" style="flex: 1 1 auto;"
                      rz-slider-options="{minLimit: -50, maxLimit: 0, floor: -50, ceil: 0, hideLimitLabels: true, vertical: true}"></rzslider>
            <canvas id="es-color-legend-container" height="250px"></canvas>
        </div>
    </div>
    <div ng-class="{'col-sm-12': !$ctrl.showSlider, 'col-sm-11': $ctrl.showSlider}">
        <div style="width: 100%; min-height: 250px;">
            <canvas id="es-waterfall-legend-1" width="100%" height="25"
                    style="background-color: #ffffff; margin-bottom: 0px;"></canvas>

            <canvas id="es-streaming-waterfall-1" width="100%" height="250"
                    style=" background-color: #ffffff; text-align:center; margin-top: 0px;"></canvas>

            <div ng-show="$ctrl.noData" style="z-index: 100; background: rgba(255, 255, 255, 0.9); width: 100%; height: 100%; position: absolute; top: 0; left: 0; text-align: center; padding-top: 2em;">
                <div class="lds-ripple"><div></div><div></div></div>
                <h3>Waiting for data</h3>
                <p>Please stand by, changing decoder settings sometimes takes up to 15 seconds.</p>
            </div>
        </div>
    </div>
</div>

<div id="es-waterfall-tooltip"
     ng-class="{'hide': $ctrl.hideTooltip}"
     style="display: none; position: absolute; padding: 10px; z-index: 400; border: 1px solid #000000; background: #e7f0f7; opacity: 0.90; padding: 2px; font-size: 10pt; font-weight: bold; font-family: monospace;">
    {{ $ctrl.hoverFreq | hzunit }}
</div>
